SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://ПОЛЬЗОВАТЕЛЬ:ПАРОЛЬ@db:5432/НАЗВАНИЕ_БАЗЫ
POSTGRES_DB=price_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis://redis:6379

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
